<style>
    * {
        margin: 0;
    }

    #error-flash {
        color: white;
        width: 100vw;
        text-align: center;
        font-weight: 500;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(78, 71, 237, 1) 70%);
        margin-bottom: 2em;
        margin-top: -2em;
        padding: 1em 0;
        position: relative;
    }

    #success-flash {
        font-family: 'Poppins', sans-serif;
        color: white;
        width: 100vw;
        text-align: center;
        font-weight: 500;
        background: rgb(0, 255, 0);
        background: linear-gradient(90deg, rgba(0, 255, 0, 1) 0%, rgba(78, 71, 237, 1) 70%);
        margin-bottom: 2em;
        margin-top: -2em;
        padding: 1em 0;
        position: relative;
    }

    #flash-icon1 {
        width: 18px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 5%;
        fill: white;
        cursor: pointer;
    }

    #flash-icon2 {
        width: 18px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 5%;
        fill: white;
        cursor: pointer;
    }

    .hide-flash {
        display: none;
    }
</style>

<% if (success && success.length) { %>
    <div id="success-flash">
        <%= success %>
            <svg id="flash-icon1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                    d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
            </svg>
    </div>
    <script>
        const closeIcon1 = document.querySelector('#flash-icon1');
        const successFlash = document.querySelector("#success-flash");
        closeIcon1.addEventListener('click', () => {
            successFlash.classList.add('hide-flash')
        });
    </script>
    <% } %>

        <% if (error && error.length) { %>
            <div id="error-flash">
                <%= error %>
                    <svg id="flash-icon2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path
                            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
                    </svg>
            </div>
            <script>
                const closeIcon2 = document.querySelector('#flash-icon2');
                const errorFlash = document.querySelector("#error-flash");
                closeIcon2.addEventListener('click', () => {
                    errorFlash.classList.add('hide-flash')
                });
            </script>
            <% } %>