<div style="height: 30vh;"></div>
<footer class="footer">
    <div class="footer-container">
        <div>
            <img class="logo" src="/svgs/logo.svg" alt="">
        </div>
        <div class="footer-links">
            <a href="">Home</a>
            <!-- <a href="">About Us</a> -->
            <a href="">Courses</a>
        </div>
        <div class="footer-social">
            <a target="blank" href="https://www.facebook.com/centrotech2022/"><img src="/svgs/facebook 1.png"
                    alt=""></a>
            <a target="blank" href=""><img src="/svgs/instagram 1.png" alt=""></a>
            <a target="blank" href="https://twitter.com/CentroTech2022"><img src="/svgs/twitter (1) 1.png" alt=""></a>
            <a target="blank" href="https://www.youtube.com/channel/UCvqoBiCr_C9DQxzP0uiCO5Q"><img
                    src="/svgs/youtube 1.png" alt=""></a>
        </div>
    </div>
    <div class="rights">
        <div>
            &copy2022 CentroTech
        </div>
        <div>
            Privacy and Cookies
        </div>
    </div>
</footer>