<div style="height: 25vh;"></div>
<footer class="footer">
    <div class="footer-container">
        <div>
            <img src="/svgs/logo.svg" alt="">
        </div>
        <div class="footer-links">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Courses</a>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/centrotech2022/"><img src="/svgs/facebook 1.png" alt=""></a>
            <a href=""><img src="/svgs/instagram 1.png" alt=""></a>
            <a href=""><img src="/svgs/twitter (1) 1.png" alt=""></a>
            <a href=""><img src="/svgs/youtube 1.png" alt=""></a>
        </div>
    </div>
    <div class="rights">
        <div>
            All Rights Reserved
        </div>
        <div>
            Privacy and Cookies
        </div>
    </div>
</footer>