<section class="nav-container">
    <div class="navbar">
        <div>
            <a href="/"><img class="logo" src="/svgs/logo.svg" alt=""></a>
        </div>

        <% if(currentUser){ %>
            <div>
                <ul class="nav-links">
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/quizzes">Quizzes</a></li>
                    <li><a href="/support-tickets">Support</a></li>
                    <li><a href="/questions">Course Q&A</a></li>

                </ul>
            </div>

            <div>
                <img id="profile-img" src="/images/user.png" alt="">
            </div>
            <div class="nav-popup">
                <% if(!loggedAdmin){ %>
                    <a href="/profile/<%= currentUser %>">Profile</a>
                    <hr style="opacity: 0.4;">
                    <a href="/courses/mycourses">My Courses</a>
                    <hr style="opacity: 0.4;">
                    <a href="/cart">Cart</a>
                    <hr style="opacity: 0.4;">
                    <a href="/wishlist">Wishlist</a>
                    <hr style="opacity: 0.4;">
                    <a href="/quizzes/solved">Solved Quizzes</a>
                    <hr style="opacity: 0.4;">
                    <% } %>
                        <!-- <a href="">Logout</a> -->
                        <form action="/logout" method="POST">
                            <button id="logout">Logout</button>
                        </form>
            </div>
            <% }else { %>
                <div>
                    <ul class="nav-links">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
                <% } %>

    </div>
</section>

<script src="/javascripts/navbar.js"></script>