<link rel="stylesheet" href="/stylesheets/newCourse.css">
<% layout("layouts/boilerplate") %>

    <section>
        <input class="input-search" type="search" placeholder="Teacher/subject name">
        <button id="popup-btn">Add New Course</button>
        <div class="course-list">
            <% courses.forEach(course=> { %>
                <div class="course-card">
                    <img src="/images/teacherimg.jpg" alt="">
                    <h3>
                        <%= course.name %>
                    </h3>
                    <h5>Arabic Teacher</h5>
                    <p>
                        <%= course.price %> L.E
                    </p>
                    <div class="card-btns">
                        <form action="/courses/delete/<%= course._id %>?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                        <button>Edit</button>
                    </div>
                </div>
                <% }); %>
        </div>
        <div class="popup">
            <h1>Add Course</h1>
            <form action="/courses/new" method="POST">
                <input type="text" placeholder="Course name" name="course[name]">
                <input type="text" placeholder="Course subject" name="course[subject]">
                <input type="text" placeholder="Instructor E-mail" name="course[email]">
                <!-- <input type="text" placeholder="Teacher name"> -->
                <input type="number" placeholder="Course fees" name="course[price]">
                <button id="popup-btn">Add Course</button>
            </form>
        </div>
    </section>
    <script src="/javascripts/newCourse.js"></script>