<style>
    * {
        margin: 0
    }

    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

    .nav-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2em;

    }

    .navbar {
        grid-column: 2/12;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

    }

    ul li {
        list-style: none;
    }

    ul {
        display: flex;
    }

    ul li a {

        margin-right: 2em;

    }

    #profile-img {
        cursor: pointer;
    }

    .nav-popup {
        position: absolute;
        right: 0;
        top: 70%;
        display: none;
        flex-direction: column;
        border: 2px #4e47ed solid;
        width: 20%;
        background-color: white;
    }

    a {
        text-decoration: none;
        color: #4e47ed;
        font-weight: 500;

    }

    .nav-popup a {
        padding: 1em 2em;
        transition: ease-in-out 0.2s;
    }

    .nav-popup a:hover {
        background-color: #4e47ed;

        cursor: pointer;
        color: white;
    }

    #logout {
        background-color: transparent;
        color: #4e47ed;
        border: none;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 1em 2em;
        width: 100%;
        text-align: start;
    }

    .nav-popup form:hover {
        background-color: #4e47ed;
        cursor: pointer;
    }

    .nav-popup form:hover #logout {
        color: white;
        cursor: pointer;
    }

    .show {
        display: flex;
    }

    #error-page {

        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;

    }

    #error-page h1 {
        color: #4e47ed;
    }

    #error-page h2 {
        margin: 2em 0;
    }

    #error-page a {
        text-decoration: none;
        color: #4e47ed;
        font-weight: bold;
        font-size: 20px;
    }
</style>

<% layout("./layouts/boilerplate") %>


    <div id="error-page">
        <h1>Page not found!</h1>
        <h2>
            Error 404, the url you're trying to access doesn't exist on our website.
        </h2>
        <!-- err.stack -->
        <a href="/">Go back</a>

    </div>