@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1em;
    padding: 0 5em;

}

.nav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Poppins', sans-serif;
   margin-bottom: 2em;

}
.navbar {
   grid-column: 2/12;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

ul li {
    list-style: none;
}

ul {
    display: flex;
}

ul li a {

    margin-right: 2em;

}

#profile-img {
    cursor: pointer;
}

.nav-popup {
    position: absolute;
    right: 0;
    top: 70%;
    display: none;
    flex-direction: column;
    border: 2px #4e47ed solid;
    width: 20%;
    background-color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #4e47ed;
    font-weight: 500;
}

.nav-popup a {
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.nav-popup a:hover{
    background-color: #4e47ed;

    cursor: pointer;
    color: white;
}
#logout-form {
    margin: 0;
}
#logout {
    background-color: transparent;
    color: #4e47ed;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 1em 2em;
    width: 100%;
    text-align: start;

}
.nav-popup form:hover {
    background-color: #4e47ed;
    cursor: pointer;
}

.nav-popup form:hover #logout {
    color: white;
    cursor: pointer;
}

.show-nav {
    display: flex;
}

.main-flex {
    grid-column: 1/13;
    display: flex;
    margin-top: 2em;
}

.main-flex img {
    margin-right: 1em;
}
.main-flex p {
    font-style: italic;
}

#reply {
    grid-column: 1/13;
    border-bottom: 1px rgba(78, 71, 237, 0.3) solid;
    padding-bottom: 2em;
}
#delete-btn {
    color: white;
    background-color: #4e47ed;
    border: none;
    padding: 1em 2em;
    border-radius: 15px;
    width: 15em;
}
form {
    grid-column: 1/3;
    margin-bottom: 2em;
}

textarea {
    width: 100%;
    resize: none;
    border: 1px rgba(78, 71, 237) solid ;
    border-radius: 15px;
    outline: none;
    padding: 1em;
}

form button {
    color: white;
    background-color: #4e47ed;
    border: none;
    padding: 1em 3em;
    border-radius: 15px;
    cursor: pointer;
}

#lock {
    color: white;
    background-color: #4e47ed;
    border: none;
    padding: 1em 2em;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

hr {
    opacity: 0.3;
}

.img-container {
    width: 42px !important;
    height: 42px;
    border-radius: 100%;
    margin-right: 0.5em;
  }
  .img-container img  {
    width: 100%; 
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }


  #textarea-form {
    grid-column: 1/6;
  }