@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.navbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 3em;
  display: none;

}

.courses-nav {
  grid-column: 4/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  grid-column: 10/12;
  display: flex;
  align-self: center;
  justify-content: flex-start;
}

ul li {
  margin-right: 3em;
}


.courses-nav > div {
  grid-column: 4/5;
  margin-left: 1em;
}

.courses-nav a {
  text-decoration: none;
  color: #407BFF;
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}
form {
  height: 100vh;
}

.sidebar {

  background-color: #4e47ed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  position: fixed;
  padding: 1em 3em;
  width: 25%;
  
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 0.5em;
}

.sidebar input {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  outline: none;
}

.sidebar button {
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  padding: 1em 0;
}

.sidebar button:hover {
  background-color: #4e47ed;
  color: white;
  border: 1px white solid;
}

.course-list {
  display: flex;
  grid-column: 5/12;
  padding-top: 2em;
  flex-wrap: wrap;
}

.course-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.course-card {
  margin-right: 2em;
  border-radius: 15px;
  border: 1px solid #ccdcff;
  height: fit-content;
  flex-basis: calc(29%);
  margin-bottom: 2em;
}

.course-card h3,
h5 {
  text-align: center;
  color: #4e47ed;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em 0;
}

.card-price button {
  border: 1px #4e47ed solid;
  border-radius: 10px;
  background-color: white;
  padding: 0.7em;
  font-weight: 500;
  cursor: pointer;
}

.card-price button:hover {
  background-color: #4e47ed;
  color: white;
}

.card-price p {
  font-size: 20px;
  /* font-weight: 500; */
  /* margin-right: 1em; */
}

@media (max-width: 1270px) {
  .sidebar h1 {
    font-size: 35px;
  }
  .course-card {
    flex-basis: calc(27%);
  }
  /* .card-price {
    margin: 0 1em;
  } */
  .card-price p {
    font-size: 16px;
  }
  .card-price button {
    padding: 0.5em 0.3em;
  }
}
@media (max-width:1170px) {
  .sidebar h1 {
    font-size: 30px;
  }
  .sidebar form h2 {
    font-size: 20px;
  }
  .card-price p {
    font-size: 16px;
  }
  .card-price button {
    font-size: 11px;
  }
  .course-card h3 {
    font-size: 16px;
  }
  .course-card h5 {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {

  .course-card {
    flex-basis: calc(40%);
  }
  .card-price button {
    font-size: 13px;
  }
  .card-price button {
    padding: 0.5em 1em;
  }
}



@media (max-width: 700px) {
  .course-card {
    flex-basis: calc(100%);
  }
  .card-price button {
    padding: 1em 2em;
  }
  .card-price p {
    font-size: 20px;
  }
}