@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

* {
  font-family: "Cabin", sans-serif;
}

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 2em 0;
}

.footer-container {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 2em;
}

.footer-links a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  transition: ease-in-out 0.2s;
}

.footer-links a:hover {
  display: inline-block;
  color: #4e47ed;
  transform: scale(1.2);
}

.footer-links a:not(.footer-links a:nth-child(3)) {
  margin-right: 10em;
}

.rights {
  grid-row: 2;
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  color: gray;
  /* margin-bottom: 2em; */
}

.footer-social img {
  width: 24px;
  margin-right: 1em;
}
