@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2em;

}

.navbar {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

ul li {
  list-style: none;
}

ul {
  display: flex;
}

ul li a {

  margin-right: 2em;

}

#profile-img {
  cursor: pointer;
}

.nav-popup {
  position: absolute;
  right: 0;
  top: 70%;
  display: none;
  flex-direction: column;
  border: 2px #4e47ed solid;
  width: 20%;
  background-color: white;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #4e47ed;
  font-weight: 500;
}

.nav-popup a {
  padding: 1em 2em;
  transition: ease-in-out 0.2s;
}

.nav-popup a:hover {
  background-color: #4e47ed;

  cursor: pointer;
  color: white;
}

#logout-form {
  margin: 0;
}

#logout {
  background-color: transparent;
  color: #4e47ed;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
}

.nav-popup form:hover {
  background-color: #4e47ed;
  cursor: pointer;
}

.nav-popup form:hover #logout {
  color: white;
  cursor: pointer;
}

.show-nav {
  display: flex;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Poppins', sans-serif;
}

.container {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  background-color: #F2F6FF;
  height: 80%;
  align-self: center;
}

.teacher-data {
  padding: 3em;
  width: 60%;
}


.teacher-data h1 {
  font-size: 30px;
  color: #4e47ed;
}

.cards {
  grid-row: 2;
  grid-column: 2/13;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #F2F6FF;
  text-align: center;
  border-radius: 15px;
  margin-right: 2em;
  flex-basis: calc(30%);
  margin-bottom: 2em;
  height: fit-content;

}


.card h2 {
  color: #4e47ed;
  margin: 1em 0;
}

.card button {
  border: none;
  color: white;
  background-color: #4e47ed;
  padding: 1em 2em;
  width: 50%;
  border-radius: 15px;
  transition: ease-in-out 0.2s;
  margin-bottom: 2em;
}

.card button:hover {
  color: white;
  background-color: #4e47ed;
  cursor: pointer;
}


.teacher-img {
  width: 40%;
  height: 100%;
  /* background-color: #4e47ed; */
}

.teacher-img img {
  width: 100%;
  height: 100%;

}

.course-img {
  height: 250px;
  width: 100%;
}

.course-img img {
  width: 100%;
  height: 100%;
  border: 1px #4e47ed5f solid;
  border-radius: 15px 15px 0 0;

}

.teacher-data h3 {
  margin: 0.5em 0;
  color: hsl(243, 100%, 30%);
}


@media(max-width: 1270px) {
  .card {
    flex-basis: calc(27%);
  }
}
@media(max-width: 1170px) {
  .card {
    flex-basis: calc(30%);
  }
}
@media(max-width: 1047px) {
  .card {
    flex-basis: calc(29%);
  }
}
@media(max-width: 1000px) {
  .card {
    flex-basis: calc(40%);
  }
  .teacher-data h1 {
    font-size: 24px;
  }
  .teacher-data {
    padding: 2em;
  }
  .course-img {
    height: 200px;
  }
}
@media(max-width: 804px) {
  .card {
    flex-basis: calc(45%);
  }
  .teacher-data h1 {
    font-size: 18px;
  }
  .teacher-data h3 {
    font-size: 16px;
  }
  .teacher-data p {
    font-size: 12px;
  }
  .course-img {
    height: 150px;
  }
}
@media(max-width: 590px) {
  .card {
    flex-basis: calc(100%);
  }
  .course-img {
    height: 100px;
  }
  .teacher-data {
    padding: 1em;
  }
  .teacher-data h1 {
    font-size: 14px;
  }
  .teacher-data h3 {
    font-size: 12px;
  }
  .teacher-data p {
    font-size: 10px;
  }
}
@media(max-width: 950px) {

  .nav-links a {
    font-size: 14px;
  }

  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 2em;
  }

  .nav-popup {
    width: auto;
  }
}

@media (max-width: 700px) {
  .nav-links a {
    font-size: 12px;
    margin-right: 1em;
  }

  .logo {
    width: 100px;
  }

  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 1em;
  }

  .footer-links a {
    font-size: 14px;
  }

  .footer-social img {
    width: 20px;
  }
  .card {
    flex-basis: calc(44%);
  }
}

@media (max-width: 560px) {

  .nav-links a {
    margin-right: 0.5em;
    font-size: 10px;
  }

  .footer-social img {
    margin-right: 0.5em;
    width: 16px;
  }

  .logo {
    width: 70px;
  }

  #profile-img {
    width: 18px;
  }

}

@media (max-width: 420px) {

  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 0.5em;
  }

  .logo {
    width: 50px;
  }

  .footer-social img {
    width: 14px;
  }

  .rights div {
    font-size: 12px;
  }

  .nav-links a {
    font-size: 8px;
  }


}