@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  padding: 0 5em;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}
.navbar {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
}

ul li a {
  margin-right: 2em;
}

#profile-img {
  cursor: pointer;
}

.nav-popup {
  position: absolute;
  right: 0;
  top: 70%;
  display: none;
  flex-direction: column;
  border: 2px #4e47ed solid;
  width: 20%;
  background-color: white;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #4e47ed;
  font-weight: 500;
}

.nav-popup a {
  padding: 1em 2em;
  transition: ease-in-out 0.2s;
}

.nav-popup a:hover {
  background-color: #4e47ed;

  cursor: pointer;
  color: white;
}
#logout-form {
  margin: 0;
}
#logout {
  background-color: transparent;
  color: #4e47ed;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
}
.nav-popup form:hover {
  background-color: #4e47ed;
  cursor: pointer;
}

.nav-popup form:hover #logout {
  color: white;
  cursor: pointer;
}

.show-nav {
  display: flex;
}
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.input-search {
  grid-column: 2/4;
  padding: 1em;
  outline: none;
  border: 1px solid #4e47ed;
  border-radius: 10px;
}
.input-search input {
  padding: 1em;
  border: 1px #407bff solid;
  border-radius: 10px;
  outline: none;
  width: 100%;
  /* text-align: center; */
}
.input-search i {
  position: absolute;
  left: 30%;
}
.fa-search {
  text-align: center;
  padding: 1em;
  /* min-width: 30%; */
  color: #4e47ed;
}

section > button {
  grid-column: 9/11;
  border: 1px #4e47ed solid;
  border-radius: 10px;
  background-color: white;
  color: #4e47ed;
  padding: 1em 2em;
}

section > button:hover {
  background-color: #4e47ed;
  color: white;
  cursor: pointer;
}

.course-list {
  display: flex;
  grid-column: 2/13;
  padding-top: 2em;
  flex-wrap: wrap;
}

.course-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.course-card {
  margin-right: 2em;
  border-radius: 15px;
  border: 1px solid #ccdcff;
  height: fit-content;
  flex-basis: calc(29%);
  margin-bottom: 2em;
}

.course-card h3,
h5 {
  text-align: center;
  color: #4e47ed;
}

.card-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0 2em 0;
}
.card-btns form:first-child button {
  border: 1px #4e47ed solid;
  color: #4e47ed;
  background-color: white;
  border-radius: 10px;
  padding: 0.8em 2em;
  transition: ease-in-out 0.2s;
}
.card-btns button:last-child {
  color: white;
  background-color: #4e47ed;
  border-radius: 15px;
  padding: 0.8em 2em;
  border: none;
  cursor: pointer;

}
.card-btns form:first-child button:hover {
  background-color: #4e47ed;
  color: white;
  cursor: pointer;
}

.course-card p {
  font-size: 18px;
  /* font-weight: 500; */
  text-align: center;
}
.course-card h5 {
  font-size: 14px;
  color: hsl(243, 100%, 30%);
}

.popup {
  background-color: white;
  border: 2px #4e47ed solid;
  border-radius: 10px;
  flex-direction: column;
  width: 33%;
  position: absolute;
  justify-self: center;
  height: fit-content;
  text-align: center;
  display: none;
  z-index: 1;
}

.popup input {
  display: block;
  border-radius: 10px;
  border: 1px #4e47ed solid;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em 1em;
  outline-color: #4e47ed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup h1 {
  color: #4e47ed;
  text-align: center;
  font-size: 40px;
  margin: 0.5em 0;
}

.popup button {
  color: white;
  background-color: #4e47ed;
  border-radius: 10px;
  width: 70%;
  border: none;
  padding: 1em 0;
  margin-bottom: 2em;
  cursor: pointer;
}

.popup.show {
  display: block;
}
.card-price {
  text-align: center;
}
.card-price a button {
  color: white;
  background-color: #4e47ed;
  border-radius: 10px;
  border: none;
  padding: 0.7em 2em;
  cursor: pointer;
  margin-bottom: 1em;
}
.card-price p {
  margin: 0.3em 0;
}
.default-img-container {
  width: 100%;
  height: 250px;
}
.default-img-container img {
  width: 100%;
  height: 100%;
}

#highest-header {
  color: #4e47ed;
}
@media (max-width: 1270px) {
  .course-card {
    flex-basis: calc(27%);
  }
}
@media(max-width: 1170px) {
  .course-card {
    flex-basis: calc(30%);
  }
}
@media (max-width: 1047px) {
  .course-card {
    flex-basis: calc(29%);
  }
}
@media (max-width: 1000px) {
  .course-card {
    flex-basis: calc(40%);
  }
  .course-card h3 {
    font-size: 15px;
  }
  .course-card h5 {
    font-size: 12px;
  }
  .course-card p {
    font-size: 14px;
  }

  .input-search {
    font-size: 12px;
    grid-column: 2/5;
  }
  section > button {
    grid-column: 9/12;
  }
.popup {
  width: 40%;
}

}
@media(max-width: 950px) {
  
  .nav-links a {
    font-size: 14px;
  }
  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 2em;
  }
  .nav-popup {
    width: auto;
  }
}

@media(max-width: 804px) {
  .course-card {
    flex-basis: calc(45%);
  }
  .popup {
    width: 50%;
  }
}


@media (max-width: 700px) {
  .course-card {
    flex-basis: calc(44%);
  }
  .course-card h3 {
    font-size: 12px;
  }
  .course-card h5 {
    font-size: 10px;
  }
  .course-card p {
    font-size: 12px;
  }
.card-btns button {
  font-size: 11px;
}
  .nav-links a {
    font-size: 12px;
    margin-right: 1em;
  }
  .logo {
    width: 100px;
  }
  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 1em;
  }
  .footer-links a {
    font-size: 14px;
  }
  .footer-social img {
    width: 20px;
  }
  section > button {
    font-size: 10px;
  }
  .input-search {
    font-size: 10px;
  }
}

@media(max-width: 590px) {
  .course-card {
    flex-basis: calc(100%);
  }
  .popup {
    width: 70%;
  }
}
@media (max-width: 560px) {

  .nav-links a {
    margin-right: 0.5em;
    font-size: 10px;
  }
  .footer-social img {
    margin-right: 0.5em;
    width: 16px;
  }
  .logo {
    width: 70px;
  }
  #profile-img {
    width: 18px;
  }
  .input-search {
   grid-column: 2/7;
  }
section > button {
  padding: 0 1em;
}
}

@media (max-width: 420px) {

  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 0.5em;
  }
  .logo {
    width: 50px;
  }
  .footer-social img {
    width: 14px;
  }
  .rights div {
    font-size: 12px;
  }
  .nav-links a {
    font-size: 8px;
  }
  .input-search {
    grid-column: 2/8;
   }
 section > button {
  font-size: 8px;
 }

}