@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Poppins', sans-serif;
   margin-bottom: 2em;

}
.navbar {
   grid-column: 2/12;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

ul li {
    list-style: none;
}

ul {
    display: flex;
}

ul li a {

    margin-right: 2em;

}

#profile-img {
    cursor: pointer;
}

.nav-popup {
    position: absolute;
    right: 0;
    top: 70%;
    display: none;
    flex-direction: column;
    border: 2px #4e47ed solid;
    width: 20%;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: #4e47ed;
    font-weight: 500;
}

.nav-popup a {
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.nav-popup a:hover{
    background-color: #4e47ed;

    cursor: pointer;
    color: white;
}

#logout {
    background-color: transparent;
    color: #4e47ed;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 1em 2em;
    width: 100%;
    text-align: start;
    margin: 0;
}
.nav-popup hr {
    margin: 0;
}
.nav-popup a {
    text-decoration: none;
}
.nav-popup form:hover {
    background-color: #4e47ed;
    cursor: pointer;
}

.nav-popup form:hover #logout {
    color: white;
    cursor: pointer;
}

.show-nav {
    display: flex;
}

section > h1 {
    grid-row: 1;
    grid-column: 3/7;
}

/* .navbar {
    background-color: #4e47ED;
    color: white;
    display: flex;
    height: 35vh;
    display: none;
} */

/* .navbar-profile {
    display: flex;
    justify-content: space-between;
    background-color: #4e47ED;
    height: 30vh;
    width: 100%;

} */

.main-flex {
    grid-column: 1/13;
    grid-row: 1;
    /* justify-self: flex-start; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.update-btn {
    margin-top: 1em;
}

.update-btn button {
    border: none;
    color: white;
    background-color: #4e47ED;
    padding: 1em 2em;
    border-radius: 10px;
}

.update-btn button:hover {
    cursor: pointer;
}

.img-container {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /* position: absolute;
    right: 105%;
    top: -90%; */
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* background-size: cover; */
    object-fit: cover;
}

#upload-img {
    border-radius: 100%;
}

.navbar-profile h1 {
    font-size: 30px;
    color: white;
    padding: 1em 5em;
}

.navbar-profile ul {
    list-style-type: none;
    display: flex;
    margin-right: 5em;
    margin-top: 2em;
}

.navbar-profile ul li:nth-child(1) {
    margin-right: 4em;
}

.navbar-profile a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
}


section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 3em;
}

.name-occ {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#profile-form {
    grid-row: 2;
    grid-column: 2/12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 2em;
}

.input-group {
    flex-basis: calc(34%);
    align-self: flex-end;
    margin-bottom: 2em;
    border-bottom: 1px rgba(0, 0, 0, 0.205) solid;
    padding-bottom: 2em;
    justify-self: flex-end;

}

/* .input-group label, input, button {
    margin-left: 5%;
} */


.input-group input {
    border: 1px #4e47ED solid;
    border-radius: 10px;
    width: 90%;
    height: 3em;
    margin-top: 1em;
    padding-left: 1em;
}

.input-group button {
    border: none;
    border-radius: 10px;
    background-color: #4e47ED;
    color: white;
    width: 90%;
    height: 3em;
    cursor: pointer;
}

.upload-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-img-container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 0.5em;
}

.upload-group img {
   width: 100%;
   height: 100%;
   border-radius: inherit;
   object-fit: cover;
}

.upload-group button {
    border: none;
    color: white;
    background-color: #4e47ED;
    border-radius: 10px;
    padding: 1em 2em;
    margin-left: 1em;
    cursor: pointer;
}

.upload-group label {
    background-color: white;
    color: #4e47ED;
    /* border: 1px solid #4e47ED; */
    /* padding: 0.7rem; */
    /* border-radius: 10px; */
    cursor: pointer;
    font-size: 16px;
    transition: ease-in-out 0.2s;
}

.upload-group label:hover {
   color: #2a20ee;
   text-decoration: underline;
   text-decoration-color: #4e47ED;
}

.upload-group button {
    display: block;
}
.upload-group span {
    margin: 0 1em;
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

#remove-pic {
    margin: 0;
    display: flex;
    justify-content: center;
}
#remove-pic button {
    background-color: transparent;
    border: none;
    color: #4e47ED;
    font-weight: 500;
    font-size: 16px;
}

#remove-pic button:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

#about-me textarea {
    resize: none;
    width: 50vw;
    border: 1px #4f47ed56 solid;
    border-radius: 15px;
    margin-top: 1em;
}
#about-me textarea:focus {
    outline-color: #4e47ed;
}
@media (max-width: 1000px) {
    #profile-img {
        width: 100px;
        top: -70%;
    }
    #upload-img {
        width: 100px;
    }
}

@media (max-width: 800px) {
    #profile-img {
        width: 90px;
        top: -60%;
    }
    #upload-img {
        width: 90px;
    }
    .upload-group label {
        padding: 0.4rem;
    }
    .upload-group button {
        padding: 0.7rem;
    }
    .navbar-profile h1 {
        padding: 1em 2em;
    }
}

@media (min-width: 1719px) {
    label {
        display: block;
    }
}
@media (min-width: 1876px) {
    label {
        display: block;
    }
    .input-group {
        flex-basis: calc(36%);
    }
}