@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Poppins', sans-serif;
   margin-bottom: 2em;

}
.navbar {
   grid-column: 2/12;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

ul li {
    list-style: none;
}

ul {
    display: flex;
}

ul li a {

    margin-right: 2em;

}

#profile-img {
    cursor: pointer;
}

.nav-popup {
    position: absolute;
    right: 0;
    top: 70%;
    display: none;
    flex-direction: column;
    border: 2px #4e47ed solid;
    width: 20%;
    background-color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #4e47ed;
    font-weight: 500;
}

.nav-popup a {
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.nav-popup a:hover{
    background-color: #4e47ed;

    cursor: pointer;
    color: white;
}
#logout-form {
    margin: 0;
}
#logout {
    background-color: transparent;
    color: #4e47ed;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 1em 2em;
    width: 100%;
    text-align: start;
}
.nav-popup form:hover {
    background-color: #4e47ed;
    cursor: pointer;
}

.nav-popup form:hover #logout {
    color: white;
    cursor: pointer;
}

.show-nav {
    display: flex;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1em;
    /* padding: 0 5em; */

}



h1 {
    grid-column: 1/5;
    grid-row: 2;
    color: #4e47ed;
    font-size: 35px;
}

.topic-container {
    grid-row: auto;
    grid-column: 1/13;
    border: 2px #4e47ed solid;
    border-radius: 15px;
    position: relative;
    padding: 1em 0;
    transition: ease-in-out 0.2s;
}
.topic-container:hover {
    background-color: #4e47ed;
    color: white;
    cursor: pointer;

}
a {
    text-decoration: none;
}
.topic-container a:hover {
    color: white;
    cursor: pointer;
}
.topic-container h4 {
    color: black;
}
.topic-container:hover h4, .topic-container:hover p{
color: white;
cursor: pointer;
}

#time img {
    color: white;
}

.main-flex {
    display: flex;
    margin-left: 1em;
}
.main-flex img {
    margin-right: 1em;
}
.img-container {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-right: 1em;
}
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
#time {
    position: absolute;
    right: 2%;
}

#author {
    font-style: italic;
}

#new-topic {
    grid-column: 2/4;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #4e47ed;
    padding: 1em 0;
    cursor: pointer;
}



.popup {
    background-color: white;
    border: 2px #4e47ed solid;
    border-radius: 10px;
    flex-direction: column;
    width: 33%;
    position: absolute;
    justify-self: center;
    align-self: center;
    height: fit-content;
    text-align: center;
    display: none;
}

.popup input {
    display: block;
    border-radius: 10px;
    border: 1px #4e47ed solid;
    width: 70%;
    margin: 0 auto;
    /* margin-bottom: 2em; */
    padding: 1em 1em;
}

.popup h1 {
    color: #4e47ed;
    text-align: center;
    font-size: 40px;
    margin: 0.5em 0;
}

.popup button {
    color: white;
    background-color: #4e47ed;
    border-radius: 10px;
    width: 70%;
    border: none;
    padding: 1em 0;
    margin-bottom: 2em;
    cursor: pointer;
}

.popup.show {
    display: block;
}

.top-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 2em 0;
    
    
}
.top-flex {
    grid-column: 2/7;
}

.top-flex button {
    width: 20%;
    /* margin-bottom: 1em; */
    margin-top: 1em;
}


textarea {
    resize: none;
    width: 70%;
    border-radius: 15px;
    border: 1px #4e47ed solid;
    padding: 1em 0 0 1em;
    margin: 1em 0;
    
}
input:focus, textarea:focus {
    outline-color:#407BFF;
}

#time {
    display: flex;
    align-items: center;
}
#time svg {
    width: 24px;
    margin-left: 1em;
}

svg {
    fill: #4e47ed;
}

.topic-container:hover svg {
    fill: white;
}

@media (max-width: 1000px) {
    .top-flex h1 {
        font-size: 24px;
    }
    .top-flex button {
        width: 35%;
    }
    .popup {
        width: 80%;
        padding: 1em 3em;
    }
}
@media(max-width: 950px) {
  
    .nav-links a {
      font-size: 14px;
    }
    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 2em;
    }
    .nav-popup {
      width: auto;
    }
    .container {
        padding: 0 3em;
    }
}
@media(max-width: 870px) {
    .top-flex h1 {
        font-size: 20px;
    }
    #new-topic {
        font-size: 12px;
        /* padding: 0.8em 2em; */
    }
    .container {
        padding: 0 1em;
    }
}
@media (max-width: 800px) {
 
    .top-flex {
        grid-column: 2/9;
    }
    .main-flex h4 {
    /* width: 80%; */
    font-size: 13px;
    }
    #time {
        font-size: 13px;
    }
    #author {
        font-size: 13px;
    }
    #time svg {
        width: 18px;
        margin-left: 0.5em;
    }
    .main-flex div:nth-child(2) {
        width: 60%;
    }
}
@media (max-width: 700px) {
    .nav-links a {
      font-size: 12px;
      margin-right: 1em;
    }
    .logo {
      width: 100px;
    }
    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 1em;
    }
    .footer-links a {
      font-size: 14px;
    }
    .footer-social img {
      width: 20px;
    }
    .main-flex h4 {
        /* width: 80%; */
        font-size: 11px;
        }
        #time {
            font-size: 11px;
        }
        #author {
            font-size: 11px;
        }
  }
@media (max-width: 600px) {
   .topic-container {
    padding: 0.5em 0;
   }
   .img-container {
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
   }


 
}
  
@media (max-width: 560px) {
 
    .nav-links a {
      margin-right: 0.5em;
      font-size: 10px;
    }
    .footer-social img {
      margin-right: 0.5em;
      width: 16px;
    }
    .logo {
      width: 70px;
    }
    #profile-img {
      width: 18px;
    }
    .main-flex div:nth-child(2) {
        width: 40%;
        margin-right: 1em;
    }

  }
@media (max-width: 450px) {
    #author {
        font-size: 12px;
    }
    h4 {
        font-size: 12px;
    }
    .top-flex {
        grid-column: 2/12;
    }
    .main-flex img {
        width: 35px;
        margin-right: 0.5em;
    }
    #time {
        font-size: 10px;
    }
    #new-topic {
        font-size: 10px;
    }
   
}




  
  @media (max-width: 420px) {

    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 0.5em;
    }
    .logo {
      width: 50px;
    }
    .footer-social img {
      width: 14px;
    }
    .rights div {
      font-size: 12px;
    }
    .nav-links a {
      font-size: 8px;
    }
 

  }