@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}
.navbar {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
}

ul li a {
  margin-right: 2em;
}

#profile-img {
  cursor: pointer;
}

.nav-popup {
  position: absolute;
  right: 0;
  top: 70%;
  display: none;
  flex-direction: column;
  border: 2px #4e47ed solid;
  width: 20%;
  background-color: white;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #4e47ed;
  font-weight: 500;
}

.nav-popup a {
  padding: 1em 2em;
  transition: ease-in-out 0.2s;
}

.nav-popup a:hover {
  background-color: #4e47ed;

  cursor: pointer;
  color: white;
}
#logout-form {
  margin: 0;
}
#logout {
  background-color: transparent;
  color: #4e47ed;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
}
.nav-popup form:hover {
  background-color: #4e47ed;
  cursor: pointer;
}

.nav-popup form:hover #logout {
  color: white;
  cursor: pointer;
}

.show-nav {
  display: flex;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.left-side {
  width: 50%;
}
.btn-div {
  display: flex;
  justify-content: space-between;
}
.left-side h1 {
  margin-bottom: 1em;
}
.left-side button {
  margin: 1em 0;
  border: none;
  border-radius: 15px;
  background-color: #4e47ed;
  color: white;
  padding: 1em 2em;
  cursor: pointer;
}
video {
  display: block;
  width: 100%;
  height: fit-content;
}

.lectures {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  height: 100%;
}

/* .lectures:first-child:hover {
    background-color: #4e47ed;
    border-radius: 15px 15px 0 0;

    cursor: pointer;

}
.lectures:not(:last-child, :first-child):hover {
    background-color: #4e47ed;
    cursor: pointer;
}
.lectures:last-child:hover {
    background-color: #4e47ed;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
} */
.right-side {
  width: 40%;
  height: 100%;
}
.lectures-container {
  display: flex;
  flex-direction: column;
  border: 2px #4e47ed solid;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
  max-height: 64%;
  overflow-y: auto;
}

.lectures form button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.lectures form button:hover {
  transform: scale(1.3);
}
.lectures form button i {
  color: #4e47ed;
}
.lectures p {
  color: #4e47ed;
}

#upload {
  margin-top: 1em;
  border: none;
  border-radius: 15px;
  background-color: #4e47ed;
  color: white;
  padding: 1em 2em;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 27px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #4e47ed;
  border-radius: 15px;
  border: 10px white solid;
}

.content {
  grid-column: 2/6;
  margin-top: 1em;
}
.content h1 {
  font-size: 40px;
}
#content-ul {
  margin-left: 2em;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  display: block;
}

#content-ul li {
  list-style-type: disc;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border: 3px #4e47ed solid;
  border-radius: 15px;
  padding: 3em;
  width: 50vw;
  height: fit-content;
  display: none;
}

.popup label {
  font-size: 18px;
  font-weight: 500;
}
#question input {
  width: 80%;
  height: 4em;
}
.popup form input:not([type="checkbox"]) {
  border: 1px #407bff solid;
  border-radius: 15px;
  margin-bottom: 1em;
  margin-left: 1em;
  outline: none;
  padding: 0.5em 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.popup-btns button {
  border: none;
  background-color: #4e47ed;
  color: white;
  border-radius: 15px;
  padding: 1em 2em;
  cursor: pointer;
}

.show {
  display: block;
}

.edit-popup.show {
  display: block;
}

.edit-popup {
  background-color: white;
  border: 2px #4e47ed solid;
  border-radius: 15px;
  /* display: none; */
  flex-direction: column;
  width: fit-content;
  position: absolute;
  height: fit-content;
  text-align: center;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 1em 3em;
  z-index: 2;
}

.edit-popup input {
  display: block;
  border-radius: 10px;
  border: 1px #4e47ed solid;
  width: 70%;
  margin: 0.5em auto;

  padding: 0.7em 1em;
}

.edit-popup input:focus {
  outline-color: #4e47ed;
}
.edit-popup form textarea {
  resize: none;
  border: 1px #4f47ed60 solid;
  border-radius: 15px;
  padding: 1em;
  outline-color: #4e47ed;
  height: 50%;
  margin: 0.5em;
}
.edit-popup h1 {
  color: #4e47ed;
  text-align: center;
  font-size: 30px;
  /* margin: 0.5em 0; */
}
#image {
  border: none;
}
.edit-popup button {
  color: white;
  background-color: #4e47ed;
  border-radius: 10px;
  width: 70%;
  border: none;
  padding: 1em 0;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .content h1 {
    font-size: 30px;
  }
  .left-side h1 {
    margin-bottom: 0;
  }
  .lectures {
    padding: 1em 2em;
  }
  .content ul li {
    font-size: 16px;
  }
  .left-side h1 {
    font-size: 20px;
  }
 .btn-div button {
padding: 0.7em 2em;
 }
}
@media(max-width: 950px) {
  
  .nav-links a {
    font-size: 14px;
  }
  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 2em;
  }
  .nav-popup {
    width: auto;
  }
}
@media (max-width: 800px) {
  .content h1 {
    font-size: 24px;
  }
  .content ul li {
    font-size: 14px;
  }
  .left-side h1 {
    margin-bottom: 0;
  }
  .btn-div button {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

@media (max-width: 760px) {
  .left-side h1 {
    font-size: 20px;
  }
  #quiz-btn {
    padding: 0.5em 2em;
  }
  .content h1 {
    font-size: 20px;
  }
  #upload {
    padding: 0.5em 2em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .content {
    grid-column: 2/12;
  }
  .lectures {
    padding: 0.5em 2em;
  }
  .container {
    flex-direction: column-reverse;
  }
  form input {
    margin: 1em 0;
  }
  .left-side {
    width: 100%;
  }
  video {
    width: 100%;
  }
  .right-side {
    width: 100%;
  }
}


@media (max-width: 700px) {
  .nav-links a {
    font-size: 12px;
    margin-right: 1em;
  }
  .logo {
    width: 100px;
  }
  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 1em;
  }
  .footer-links a {
    font-size: 14px;
  }
  .footer-social img {
    width: 20px;
  }
  .lectures p {
    font-size: 12px;
  }
}

@media (max-width: 560px) {

  .nav-links a {
    margin-right: 0.5em;
    font-size: 10px;
  }
  .footer-social img {
    margin-right: 0.5em;
    width: 16px;
  }
  .logo {
    width: 70px;
  }
  #profile-img {
    width: 18px;
  }
}

@media (max-width: 420px) {

  .footer-links a:not(.footer-links a:nth-child(3)) {
    margin-right: 0.5em;
  }
  .logo {
    width: 50px;
  }
  .footer-social img {
    width: 14px;
  }
  .rights div {
    font-size: 12px;
  }
  .nav-links a {
    font-size: 8px;
  }


}