@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Poppins', sans-serif;
   margin-bottom: 2em;

}
.navbar {
   grid-column: 2/12;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

ul li {
    list-style: none;
}

ul {
    display: flex;
}

ul li a {

    margin-right: 2em;

}

#profile-img {
    cursor: pointer;
}

.nav-popup {
    position: absolute;
    right: 0;
    top: 70%;
    display: none;
    flex-direction: column;
    border: 2px #4e47ed solid;
    width: 20%;
    background-color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #4e47ed;
    font-weight: 500;
}

.nav-popup a {
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.nav-popup a:hover{
    background-color: #4e47ed;

    cursor: pointer;
    color: white;
}
#logout-form {
    margin: 0;
}
#logout {
    background-color: transparent;
    color: #4e47ed;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 1em 2em;
    width: 100%;
    text-align: start;
}
.nav-popup form:hover {
    background-color: #4e47ed;
    cursor: pointer;
}

.nav-popup form:hover #logout {
    color: white;
    cursor: pointer;
}

.show-nav {
    display: flex;
}
section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Poppins', sans-serif;
    row-gap: 2em;
}
.header {
    grid-row: 1;
    grid-column: 2/12;
    justify-self: center;
    text-align: center;
}

.header h1 {
    font-size: 2em;
    color: #4e47ed;
}
.mcq {
    grid-row: 2;
    grid-column: 2/12;
    margin-bottom: 2em;
}

.mcq p {
    font-size: 20px;
}

form {
    margin-top: 0.5em;
    font-size: 18px;
}

.question {
    margin-bottom: 1em;
}
.question div {
    margin: 0.5em 0;
}
.grade {
    color: #4e47ed;
}
#grade span {
    font-weight: bold;
    color: #4e47ed;
}
#question-mark {

    color: #4e47ed;
    font-weight: 500;
    display: inline-block;
    margin-left: 1em;
}

#submit {
    border: none;
    color: white;
    background-color: #4e47ed;
    border-radius: 15px;
    padding: 1em 2em;
    display: block;
    margin: 1em 0;
}

 @media(max-width: 950px) {
  
    .nav-links a {
      font-size: 14px;
    }
    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 2em;
    }
    .nav-popup {
      width: auto;
    }
}
@media (max-width: 700px) {
    .nav-links a {
      font-size: 12px;
      margin-right: 1em;
    }
    .logo {
      width: 100px;
    }
    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 1em;
    }
    .footer-links a {
      font-size: 14px;
    }
    .footer-social img {
      width: 20px;
    }
  }
  
  @media (max-width: 560px) {
 
    .nav-links a {
      margin-right: 0.5em;
      font-size: 10px;
    }
    .footer-social img {
      margin-right: 0.5em;
      width: 16px;
    }
    .logo {
      width: 70px;
    }
    #profile-img {
      width: 18px;
    }
 
  }
  
  @media (max-width: 420px) {

    .footer-links a:not(.footer-links a:nth-child(3)) {
      margin-right: 0.5em;
    }
    .logo {
      width: 50px;
    }
    .footer-social img {
      width: 14px;
    }
    .rights div {
      font-size: 12px;
    }
    .nav-links a {
      font-size: 8px;
    }
 

  }