@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}
.navbar {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
}

ul li a {
  margin-right: 2em;
}

#profile-img {
  cursor: pointer;
}

.nav-popup {
  position: absolute;
  right: 0;
  top: 70%;
  display: none;
  flex-direction: column;
  border: 2px #4e47ed solid;
  width: 20%;
  background-color: white;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #4e47ed;
  font-weight: 500;
}

.nav-popup a {
  padding: 1em 2em;
  transition: ease-in-out 0.2s;
}

.nav-popup a:hover {
  background-color: #4e47ed;

  cursor: pointer;
  color: white;
}
#logout-form {
  margin: 0;
}
#logout {
  background-color: transparent;
  color: #4e47ed;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
}
.nav-popup form:hover {
  background-color: #4e47ed;
  cursor: pointer;
}

.nav-popup form:hover #logout {
  color: white;
  cursor: pointer;
}

.show-nav {
  display: flex;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3em;
}
.first-item {
  grid-column: 2/5;
  margin-top: 1em;
}

.first-item input {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
  width: 100%;
  height: 3em;
  padding-left: 1em;
  width: 70%;
}
.first-item input:focus {
  outline-color: #4e47ed;
}
.first-item i {
  position: absolute;
  left: 23%;
  color: #4e47ed;
  padding-top: 0.7em;
}

.accounts-container {
  grid-column: 1/13;
}

table {
  border-spacing: 0;
  width: 100%;
}

table .headers {
  background-color: #ccdcff;
}
table .headers th {
  font-weight: 500;
  padding: 1em 2em;
}
table .data td {
  padding: 1em 2em;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  text-align: center;
}
#revenue {
  color: #4e47ed;
  margin: 1em 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#refund {
  color: white;
  background-color: #4e47ed;
  padding: 0.8em 2.5em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
