@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Cairo:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  padding: 0 5em;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Poppins', sans-serif;
 margin-bottom: 2em;

}
.navbar {
 grid-column: 2/12;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;

}

ul li {
  list-style: none;
}

ul {
  display: flex;
}

ul li a {

  margin-right: 2em;

}

#profile-img {
  cursor: pointer;
}

.nav-popup {
  position: absolute;
  right: 0;
  top: 70%;
  display: none;
  flex-direction: column;
  border: 2px #4e47ed solid;
  width: 20%;
  background-color: white;
}

a {
  text-decoration: none;
  color: #4e47ed;
  font-weight: 500;
}

.nav-popup a {
  padding: 1em 2em;
  transition: ease-in-out 0.2s;
}

.nav-popup a:hover{
  background-color: #4e47ed;

  cursor: pointer;
  color: white;
}

#logout {
  background-color: transparent;
  color: #4e47ed;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
}
.nav-popup form:hover {
  background-color: #4e47ed;
  cursor: pointer;
}

.nav-popup form:hover #logout {
  color: white;
  cursor: pointer;
}

.show-nav {
  display: flex;
}
#first-row {
  grid-row: auto;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px #4e47ed solid;
}

#first-row h1 {
  color: #4e47ed;
}

#first-row button {
  padding: 1.2em 3em;
  border: none;
  color: white;
  background-color: #4e47ed;
  border-radius: 15px;
  cursor: pointer;
}

.cart-headers {
  grid-row: auto;
  grid-column: 1/13;

  display: flex;
  justify-content: space-between;
}

.cart-headers h1 {
  font-weight: 500;
}

.cart-data {
  grid-row: auto;
  grid-column: 1/13;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(79, 71, 237, 0.303) solid;
  padding-bottom: 1em;
}

.cart-data p {
  font-size: 18px;
}

#total {
  grid-row: auto;
  grid-column: 1/13;

  display: flex;
  justify-content: space-between;
  color: #4e47ed;
}

#buttons {
  grid-row: auto;
  grid-column: 1/13;

  display: flex;
  justify-content: center;
}

#buttons button {
  border: 1px #4e47ed solid;
  color: #4e47ed;
  background-color: white;
  border-radius: 15px;
  padding: 1em 3em;
  transition: ease-in-out 0.2s;
}

#buttons button:hover {
  color: white;
  background-color: #4e47ed;
  cursor: pointer;
}

#delete-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-div img {
  cursor: pointer;
}

#cart-btn, #delete-btn {
  border: none;
  color: #4e47ed;
  font-size: 18px;
  margin-left: 0.5em;
  background-color: transparent;
  cursor: pointer;
}
#delete-btn img {
  width: 100%;
}
#delete-btn {
  margin-bottom: -15px;
}
@media (max-width: 700px) {
  #first-row h1 {
    font-size: 20px;
  }
  #first-row button {
    padding: 0.8em 3em;
  }
  .cart-headers h1 {
    font-size: 20px;
  }
  #total h1 {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  #first-row h1 {
    font-size: 16px;
  }
  #first-row button {
    padding: 0.5em 2em;
  }
  .cart-headers h1 {
    font-size: 16px;
  }
  #total h1 {
    font-size: 16px;
  } 
  #buttons button {
    padding: 0.7em 1em;
  }
  .container {
    padding: 0 4em;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 0 2em;
  }
}