<link rel="stylesheet" href="/stylesheets/adminDashboard.css">
<% layout("layouts/boilerplate") %>
    <section class="dashboard">
        <a href="/admins/usersmanagement" id="account">
            <div>Account Management</div>
        </a>
        <a href="/courses/new" id="course">
            <div>Course Management</div>
        </a>
        <a href="/admins/appmanagement/accepted" id="accepted">
            <div>Accepted Applications</div>
        </a>
        <a href="/admins/appmanagement/rejected" id="rejected">
            <div>Rejected Applications</div>
        </a>
        <a href="/admins/appmanagement" id="pending">
            <div>Pending Applications</div>
        </a>
    </section>