<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/stylesheets/login.css">
    <section>
        <div class="login-card">
            <h2>Sign in to your account</h2>
            <form action="/login" method="POST">
                <div id="email-div">
                    <label for="email" id="email-label">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <div class="forgot-flex">
                        <label for="password">Password</label>
                        <a href="/forgot">Forgot your password?</a>
                    </div>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="checkbox-div">
                    <input type="checkbox">
                    <label for="">Stay logged in</label>
                </div>
                <button>Sign in</button>
                <a id="gmail" href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with
                    Google</a>
            </form>
            <div class="signup-redirect">
                <p>Don't have an account?</p>
                <a href="/register">Sign up</a>
            </div>
        </div>
        <div class="login-img">
            <img src="/images/loginimg.png" alt="">
        </div>
    </section>