<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/instructorProfile.css">
    <section>
        <div class="container">
            <div class="teacher-data">
                <h1>Herr.Abdelmoez</h1>
                <h3>Duetsch Teacher</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sequi atque. Accusamus sapiente
                    et sed natus maiores ipsum. Laboriosam delectus ad placeat quis harum soluta obcaecati consectetur
                    deserunt, asperiores minus.
                    Voluptatum quasi sequi placeat sunt, fuga rerum. Exercitationem, laboriosam. At pariatur excepturi
                    omnis atque harum sunt dicta placeat ipsa ab ea aliquam in maxime, nam dolorum adipisci veritatis
                    itaque vero!</p>
            </div>
            <div class="teacher-img">
                <img src="teacherimg.png" alt="">
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="germanflag.png" alt="">
                <h3>Duetsch A2 Level</h3>
                <button>View Course</button>
            </div>
        </div>
    </section>